<footer class="text-bg-dark p-3 text-center mt-4">
    <div class="icon mt-4" style="font-size: 25px;">
        <a href="https://instagram.com/motarzat.ps.al3almea?igshid=YmMyMTA2M2Y=">
            <i class="fa-brands fa-instagram ms-3"></i></a>
        <a href="https://www.facebook.com/International.PS.Embroideries/">
            <i class="fa-brands fa-facebook ms-3"></i></a>
        <a href="https://wa.me/+972595831862"><i class="fa-brands fa-whatsapp ms-3"></i></a>
        <a href="mailto: motarzat.ps.gaza@gmail.com‬‏"><i class="fa-solid fa-envelope ms-3"></i></a>
    </div>
    <div class="links mt-4">
        <a href="/" class="ms-2 a">Home</a>
        <a href="/login" class="ms-2 a">Login</a>
        <a href="/signup" class="ms-2 a">Signup</a>
        <a href="/logout" class="ms-2 a">Logout</a>
        <a href="/cart" class="ms-2 a">Cart</a>
        <a href="/orders" class="ms-2 a">Orders</a>
    </div>
    <p class="mt-4">Created by Ahmed M S Afana <span style="color: #0d6efd;" >&copy; 2022</span></p>
</footer>